#cuestionarioForm{
  max-width: 90%;
  width: 800px;
  margin: 50px auto;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
h1.formTitle{
  font-family: sans-serif;
  font-size: 32px;
  color: #023147;
}

div.pregunta{
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
}
.questionElement{
  font-weight: bold;
  display: block;
  font-family: sans-serif;
  font-size: 1.6rem;

  margin-top: 30px;
  text-align: justify;
  letter-spacing: .5px;
  line-height: 2rem;
}
.labelElement{
  font-family: sans-serif;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  width: 150px;
  text-align: center;
}
.labelElement.checked{
  background-color: #023147;
  color: #EAEAEA;
}
.inputElement{
  margin-top: 10px;
  font-size: 1.6rem;
  font-family: sans-serif;
  display: inline-block;
} 
/* Estilo base para ocultar los radios */
.labelElement input[type="radio"] {
  display: none;
}

.enviarButtonContainer{
  margin-top:50px;
}



@media(min-width:10px) { 

   


    #cuestionarioForm{
        font-size: 16px;
        color: #000000;
        /* max-width: 600px;  */
        /* margin: 0 auto; */
        padding: 20px;

        border-radius: 8px;
        display: flex;
        flex-direction: column; /* Cambiamos la dirección de los elementos a columna */
        align-items: center;
    }
      
      /* Estilos para el botón Enviar */
      .enviarButtonContainer {
        display: flex;
        justify-content: center;  
        
    }
      


    
}

@media(min-width:744px) {


    
/* Estilos para el mensaje de resultado */
#cuestionarioForm{
    
    color: #000000;
    /* max-width: 600px;  */
    /* margin: 0 auto; */
    padding: 20px;

    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección de los elementos a columna */
    align-items: center;
}
  
  /* Estilos para el botón Enviar */
  .enviarButtonContainer {
    display: flex;
    justify-content: center;  
}
  




        
}



@media(min-width:1024px){
   


/* Estilos para el mensaje de resultado */
#cuestionarioForm{

    color: #000000;
    /* max-width: 600px;  */
    /* margin: 0 auto; */
    padding: 20px;

    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección de los elementos a columna */
    align-items: center;
}

  /* Estilos para el botón Enviar */
  .enviarButtonContainer {
    display: flex;
    justify-content: center;  
}
  


}