/*Este es el css central, todos los archivos html van a inmportarlo  */

/* El asterisco se usa para indicar que se van a alterar todos los componentes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html es la etiqueta raíz. */
html{
    font-size: 62.5%;
}
